.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  border: 5px red;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px;
  justify-self: center;
  border: 5px red;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  border: 5px red;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
  border: 5px red;
}

div.left-links{
  justify-content: flex-start;
  border: 5px red;
}

.right-links{
  justify-content: flex-end;
  border: 5px red;
}